<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="EstiwDatabase" connectionString="data source=(localdb)\Projects;Database=Escowt.Core;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
<!--	<add name="EstiwDatabase" connectionString="Server=TOR\SQLESTIW;Database=Escowt-L;User ID=sql_escowt-l_user;Password=5E_s?5Kb1t1~+mJf;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
	<!--<add name="EstiwDatabase" connectionString="Server=WINDEVSERVER\SQLEXPRESS;Database=Escowt-L2;User ID=sqladmin;Password=sqladmin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
</connectionStrings>